.profileContainer {
  width: 100%;
}

.detailsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 12px;
}

.trips {
  /*width: 100%;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 24px;
}
