.homeContainer {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.trending {
  margin-top: 12px;
  padding: 0 12px;
  text-align: center;
}

.trending li {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.trending li button {
  width: 100%;
}

.trendingHeading {
  background-color: #3954a4;
  color: white;
}

.infinite {
  width: 100%;
}

.homeActivityOverview {
  width: 100%;
}
