* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FCF7F8;
}

.bodyContainer {
  top: 80px;
  position: relative;
  min-height: 100%;
}

a {
  color: #3954a4;
}

img {
  width: 100%;
  /*height: 75px;*/
}

.fixed {
  font-weight: 900;
  position: fixed;
  top: 50%;
  right: 50%;
}

.fixedMore {
  font-weight: 900;
  position: fixed;
  top: 70%;
  right: 50%;
}

.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

li {
  list-style: none;
}
