* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FCF7F8;
}

.bodyContainer {
  top: 80px;
  position: relative;
  min-height: 100%;
}

a {
  color: #3954a4;
}

img {
  width: 100%;
  /*height: 75px;*/
}

li {
  list-style: none;
}
