.tripsContainer {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: 100%;
}

.hideButtonContainer {
  margin-top: 12px;
  padding: 0 12px;
  /*background-color: red;*/
  text-align: center;
}

.hideButton {
  /*position: fixed;*/
  width: 100%;
}

.dragHandle {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  padding-top: 12px;
  font-size: 24px;
  font-weight: 900;
  cursor: grab;
}

.sortable {
  display: flex;
  flex-flow: row;
  width: 100%;
}
