.trips{
  position:relative;
  display: flex;
  height:100%;
  width:85%;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
.tripOverview {
  height:350px;
  width:550px;
  position: relative;
  padding: 12px;
  float: left;
  display: flex;
  /*align-content: space-between;*/
}
.tripOverviewImage{
  /*display:block;*/
  height:350px;
  width:550px;
  position: absolute;
  z-index: 1;
}
.tripOverviewDetails {
  display:flex;
  background-color: rgba(252,247,248, 0.8);
  justify-content: space-between;
  position: absolute;
  height: 350px;
  width: 200px;
  color: #4E8098;
  z-index: 2;
  flex-wrap: wrap;
  /*align-content: space-between;*/
}
.heading{
  display:flex;
  flex-wrap: wrap;

}
.subheading{
text-align: center;
  /*font-size: x-large;
  text-align: left;*/
}
.tripOverviewBackdrop:hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
